@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
@import "tailwindcss";





#root {
  font-family: "Comic Relief";
  
  background-image: url(./assets/jungle_background_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 2px;
}

